[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'cd /home/pi/BOOKWORM; sudo sh ejecutar_dv4mini.sh'
Icon=/home/pi/BOOKWORM/ICO_DV4MINI_OFF.png
Type=Application
StartupNotify=false
Categories=Hamradio;System;Utility;
Terminal=false
Name[es_ES]=ON/OFF
Hidden=false
Comment[es_ES]=EA3EIZ
