[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'cd /home/pi/IMAGEN-A111/; sh actualizar_IDS_MMDVMHost.sh'
Icon=/home/pi/IMAGEN-A111/ICO_ACTUALIZAR_IDS.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=Actualizar IDS
Hidden=false
Comment[es_ES]=EA3EIZ
