[Desktop Entry]
Comment=EA3EIZ
Exec=sh -c "cd /home/pi/BOOKWORM/qt;./qt_editor_ircddb"
Type=Application
Terminal=false
Comment[es_ES]=
Name[es_ES]=Editar ircDDB
Icon=/home/pi/BOOKWORM/ICO_EDITOR_SOLODSTAR.png
 